<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <!-- <form action="/submit" method="post"> -->
    <form action="/form" method="post">
        name <input type="text" name="name" id="" value="<%=name%>">
        msg <textarea name="msg" id=""><%=msg%></textarea>
        <input type="submit" value="submit">
    </form>
</body>
</html>